 * { font-family: Malgun Gothic; font-size: 24px;}  /* 모든 태그에 적용 */
  .focus1 {       /* class='focus1'  */
    font-weight: bold; 
    font-size: 30px; 
    color: #00FF00; 
    background-color: #FFFF00;
  }
  .focus2 {
    font-weight: bold; 
    font-size: 30px; 
    color: #FFFFFF; 
    background-color: #FF0000;
  }  

  #ms {  /* id='ms' */
    font-weight: bold; 
    font-size: 30px; 
    color: #FFFFFF; 
    background-color: #0000FF;
  }